body{
    margin: 20px;
    background-color: gray;
    /* background-color: rgb(0, 0, 0); */
}

.chats{
    background-color: #202C33;
    color: ghostwhite;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}

.msg{
    background-color: #00A884;
    color: black;
    padding: 7px;
    border-radius: 5px;
}
